.header-main{
    background-image: url('../../../images/bg.png');
    height: 500px;
    position: relative;
    background-size: cover;
}

.text {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}